/* Colors: 
#16172A, 
#FFFFFF, 
#00CCCC, 
#5954F5, 
#2C3266
*/

body {
  background-color: #16172a;
}
header,
footer {
  padding: 30px;
  display: flex;
  justify-content: center;
}
.title {
  font-size: 32px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #fff;
}

.table_title {
  color: #fff;
}

.donation {
  color: #fff;
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: center;
}

table,
tr,
th,
td {
  border: 2px solid #2c3266;
  color: #00cccc;
}

table {
  border-collapse: collapse;
}

th {
  padding: 20px;
}

td {
  padding: 10px;
}
